html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
}
main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
#logo {
    text-align: center;
}
#did{
    text-align: center;
    color:black;
    padding: 4px;
    font-size: 20px;
    border-top: 5px solid orange;
    background-color: rgba(255, 217, 0, 0.486);
}
#intestazione{
    text-align: center;
    font-size: 40px;
}
#par {
    text-align: center;
    font-size: 30px;
}
#img{
    text-align: center;
    margin: 0 auto;
    border-radius: 50px;
}
#par1 {
    display: block;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 1rem;
}
#article { 
    border-left: 4px solid #ffd877;
}
.h2 {
    font-size: 40px;
border-bottom: 4px solid cadetblue;
padding-bottom: 5px;
}
ul li {
    font-size: 20px;
}
ol li {
    font-size: 20px;
}
#fine {
    font-size: 20px;
}